.counter {
  z-index: 5;
  background: rgba(256, 256, 256, 0.8);
  padding: 10px;
  border-radius: 5px;

  .count {
    color: #111;
    font-family: Acme, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    display: inline-block;
    padding-right: 10px;
    vertical-align: top;
  }

  img {
    width: 30px;
    display: inline-block;
    opacity: 0.8;
  }
}
