.top-cupboard {
  position: absolute;
  width: 261px;
  height: 214px;

  .cupboard {
    background: #000;
    width: 261px;
    height: 113px;
    position: absolute;
    top: 0;
  }

  .cupboard-door-left, .cupboard-door-left-inside {
    background: url(door-left.png) no-repeat;
    width: 130px;
    height: 113px;
    background-size: 130px 113px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 0.2s ease-in-out;
    transform-origin: left;

    &.open {
      transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
    }
  }

  .cupboard-door-right, .cupboard-door-right-inside {
    background: url(door-right.png) no-repeat;
    width: 130px;
    height: 113px;
    background-size: 130px 113px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transition: all 0.2s ease-in-out;
    transform-origin: right;

    &.open {
      transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(105deg);
    }
  }

  .cupboard-door-left-inside, .cupboard-door-right-inside {
    background: none;
    z-index: 0;

    &.open {
      transform: none;
    }
  }
}
