.bottom-cupboard {
  background: url(cupboard.png) no-repeat;
  position: absolute;
  width: 261px;
  height: 214px;

  .door {
    position: absolute;
    z-index: 2;
    transition: all 0.2s ease-in-out;

    &.open {
      transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
    }
  }

  .left {
    background: url(door-left.png) no-repeat;
    width: 134px;
    height: 180px;
    background-size: 134px 180px;
    top: 12px;
    left: 0;
    transform-origin: left;
  }

  .right {
    background: url(door-right.png) no-repeat;
    width: 128px;
    height: 180px;
    background-size: 128px 180px;
    top: 12px;
    right: 0;
    transform-origin: right;
  }

  .inside {
    position: absolute;
    background: none;
  }
}
